// Цвета
:root {
  --source-sans: "Source Sans Pro", sans-serif;
  --lato: "Lato", sans-serif;
  --narrow: "Archivo Narrow", sans-serif;
  --black: #050814;
  --white: #fff;
  --cold-canada: #def9fa;
  --pale-sky: #bef3f5;
  --freezy-breezy: #9dedf0;
  --bath-water: #7de7eb;
  --near-moon: #5ce1e6;
  --aquarius: #33bbcf;
  --scrollTop: 0;
}


