// Цвета
:root {
  --source-sans: "Source Sans Pro", sans-serif;
  --lato: "Lato", sans-serif;
  --narrow: "Archivo Narrow", sans-serif;
  --black: #050814;
  --white: #fff;
  --cold-canada: #def9fa;
  --pale-sky: #bef3f5;
  --freezy-breezy: #9dedf0;
  --bath-water: #7de7eb;
  --near-moon: #5ce1e6;
  --aquarius: #33bbcf;
  --scrollTop: 0;
}

// Медиазапросы
@mixin _1280 {
  @media (max-width: 1280px) {
    @content;
  }
}

@mixin _1024 {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin _880 {
  @media (max-width: 900px) {
    @content;
  }
}

@mixin _640 {
  @media (max-width: 640px) {
    @content;
  }
}

@mixin _550 {
  @media (max-width: 550px) {
    @content;
  }
}

@mixin _450 {
  @media (max-width: 450px) {
    @content;
  }
}


@mixin no-hover {
  @media screen and (any-hover: none) {
    @content;
  }
}

@mixin only-hover {
  @media screen and (any-hover: hover) {
    @content;
  }
}
