<section class="section hero main-hero">
    <div class="container">
        <div class="main-hero__top-content">
            <h1 class="title h1">All blogs</h1>
            <label class="main-hero__search-label" for="search">
                <input class="main-hero__search-input"
                       id="search" type="text"
                       placeholder="Search with keywords"
                       onblur="this.placeholder = 'Search with keywords'"
                       onfocus="this.placeholder = ''"
                >
                <button class="main-hero__search-button" type="button">
                    <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.3528 1.945C8.75932 -0.648332 4.53821 -0.648332 1.9447 1.945C-0.648235 4.53889 -0.648235 8.75916 1.9447 11.3531C4.25429 13.6619 7.85134 13.9093 10.4432 12.1064C10.4977 12.3644 10.6225 12.6107 10.8232 12.8113L14.6002 16.5881C15.1506 17.1373 16.04 17.1373 16.5876 16.5881C17.1375 16.0383 17.1375 15.1489 16.5876 14.6008L12.8106 10.8229C12.6111 10.6239 12.3643 10.4985 12.1062 10.444C13.9103 7.85181 13.663 4.25555 11.3528 1.945ZM10.1604 10.1607C8.22409 12.0968 5.07287 12.0968 3.13716 10.1607C1.20202 8.22453 1.20202 5.07408 3.13716 3.13794C5.07287 1.20236 8.22409 1.20236 10.1604 3.13794C12.0966 5.07408 12.0966 8.22453 10.1604 10.1607Z"
                        />
                    </svg>
                </button>
            </label>
        </div>
        <div class="main-hero__wrapper">
            <div class="main-hero__sidebar">

                <p class="main-hero__sidebar-text">Build a better sales and marketing
                    strategy with our latest tips, insights
                    and best practices. Let Alfred help
                    you in your sales journey.</p>
                <span class="main-hero__sidebar-title">Categories</span>
                <ul class="main-hero__sidebar-list">
                    <li class="main-hero__sidebar-list-item">

                        <label class="main-hero__sidebar-list-item-label" for="1">
                            <input class="main-hero__sidebar-list-item-label-checkbox" id="1" type="checkbox">
                            <span class="main-hero__sidebar-list-item-label-custom-checkbox">
                                <svg>
                                <use xlink:href="#accept"></use>
                                </svg>
                            </span>
                            <span>Growth Hacks</span>
                        </label>
                    </li>
                    <li class="main-hero__sidebar-list-item">

                        <label class="main-hero__sidebar-list-item-label" for="2">
                            <input class="main-hero__sidebar-list-item-label-checkbox" id="2" type="checkbox">
                            <span class="main-hero__sidebar-list-item-label-custom-checkbox">
                                <svg>
                                <use xlink:href="#accept"></use>
                                </svg>
                            </span>
                            <span>Lead Generation</span>
                        </label>
                    </li>
                    <li class="main-hero__sidebar-list-item">

                        <label class="main-hero__sidebar-list-item-label" for="3">
                            <input class="main-hero__sidebar-list-item-label-checkbox" id="3" type="checkbox">
                            <span class="main-hero__sidebar-list-item-label-custom-checkbox">
                                <svg>
                                <use xlink:href="#accept"></use>
                                </svg>
                            </span>
                            <span>LinkedIn Sales Navigator</span>
                        </label>
                    </li>
                    <li class="main-hero__sidebar-list-item">

                        <label class="main-hero__sidebar-list-item-label" for="4">
                            <input class="main-hero__sidebar-list-item-label-checkbox" id="4" type="checkbox">
                            <span class="main-hero__sidebar-list-item-label-custom-checkbox">
                                <svg>
                                <use xlink:href="#accept"></use>
                                </svg>
                            </span>
                            <span>LinkedIn Tips & Tricks</span>
                        </label>
                    </li>

                </ul>
                <button class="main-hero__sidebar-button" type="button">Reset Filters
                    <svg>
                        <use xlink:href="#arrows"></use>
                    </svg>
                </button>
            </div>
            <ul class="main-hero__list">
                <li class="main-hero__list-item">
                    <img class="main-hero__list-item-img" src="./img/first_card_img.png" alt="">
                    <div class="main-hero__list-item-content">
                        <ul class="main-hero__list-item-content-list">
                            <li class="main-hero__list-item-content-list-item">Product News</li>
                            <li class="main-hero__list-item-content-list-item">Product News</li>
                        </ul>
                        <p class="main-hero__list-item-content-descr">LeadGenius Named by Forbes as one of America’s
                            Best Startup Employers 2024</p>
                        <span class="main-hero__list-item-content-span">2860 views . 3 min read</span>
                    </div>
                </li>
                <li class="main-hero__list-item">
                    <img class="main-hero__list-item-img" src="./img/second_card_img.png" alt="">
                    <div class="main-hero__list-item-content">
                        <ul class="main-hero__list-item-content-list">
                            <li class="main-hero__list-item-content-list-item">Product News</li>
                            <li class="main-hero__list-item-content-list-item">Product News</li>
                        </ul>
                        <p class="main-hero__list-item-content-descr">LeadGenius Named by Forbes as one of America’s
                            Best Startup Employers 2024</p>
                        <span class="main-hero__list-item-content-span">2860 views . 3 min read</span>
                    </div>
                </li>
                <li class="main-hero__list-item">
                    <img class="main-hero__list-item-img" src="./img/third_card_img.png" alt="">
                    <div class="main-hero__list-item-content">
                        <ul class="main-hero__list-item-content-list">
                            <li class="main-hero__list-item-content-list-item">Product News</li>
                            <li class="main-hero__list-item-content-list-item">Product News</li>
                        </ul>
                        <p class="main-hero__list-item-content-descr">LeadGenius Named by Forbes as one of America’s
                            Best Startup Employers 2024</p>
                        <span class="main-hero__list-item-content-span">2860 views . 3 min read</span>
                    </div>
                </li>
                <li class="main-hero__list-item">
                    <img class="main-hero__list-item-img" src="./img/fourth_card_img.png" alt="">
                    <div class="main-hero__list-item-content">
                        <ul class="main-hero__list-item-content-list">
                            <li class="main-hero__list-item-content-list-item">Product News</li>
                            <li class="main-hero__list-item-content-list-item">Product News</li>
                        </ul>
                        <p class="main-hero__list-item-content-descr">LeadGenius Named by Forbes as one of America’s
                            Best Startup Employers 2024</p>
                        <span class="main-hero__list-item-content-span">2860 views . 3 min read</span>
                    </div>
                </li>
                <li class="main-hero__list-item">
                    <img class="main-hero__list-item-img" src="./img/first_card_img.png" alt="">
                    <div class="main-hero__list-item-content">
                        <ul class="main-hero__list-item-content-list">
                            <li class="main-hero__list-item-content-list-item">Product News</li>
                            <li class="main-hero__list-item-content-list-item">Product News</li>
                        </ul>
                        <p class="main-hero__list-item-content-descr">LeadGenius Named by Forbes as one of America’s
                            Best Startup Employers 2024</p>
                        <span class="main-hero__list-item-content-span">2860 views . 3 min read</span>
                    </div>
                </li>
                <li class="main-hero__list-item">
                    <img class="main-hero__list-item-img" src="./img/second_card_img.png" alt="">
                    <div class="main-hero__list-item-content">
                        <ul class="main-hero__list-item-content-list">
                            <li class="main-hero__list-item-content-list-item">Product News</li>
                            <li class="main-hero__list-item-content-list-item">Product News</li>
                        </ul>
                        <p class="main-hero__list-item-content-descr">LeadGenius Named by Forbes as one of America’s
                            Best Startup Employers 2024</p>
                        <span class="main-hero__list-item-content-span">2860 views . 3 min read</span>
                    </div>
                </li>
                <li class="main-hero__list-item">
                    <img class="main-hero__list-item-img" src="./img/third_card_img.png" alt="">
                    <div class="main-hero__list-item-content">
                        <ul class="main-hero__list-item-content-list">
                            <li class="main-hero__list-item-content-list-item">Product News</li>
                            <li class="main-hero__list-item-content-list-item">Product News</li>
                        </ul>
                        <p class="main-hero__list-item-content-descr">LeadGenius Named by Forbes as one of America’s
                            Best Startup Employers 2024</p>
                        <span class="main-hero__list-item-content-span">2860 views . 3 min read</span>
                    </div>
                </li>
                <li class="main-hero__list-item">
                    <img class="main-hero__list-item-img" src="./img/fourth_card_img.png" alt="">
                    <div class="main-hero__list-item-content">
                        <ul class="main-hero__list-item-content-list">
                            <li class="main-hero__list-item-content-list-item">Product News</li>
                            <li class="main-hero__list-item-content-list-item">Product News</li>
                        </ul>
                        <p class="main-hero__list-item-content-descr">LeadGenius Named by Forbes as one of America’s
                            Best Startup Employers 2024</p>
                        <span class="main-hero__list-item-content-span">2860 views . 3 min read</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>