
@use "@scss/common/mixins" as *;

.main-hero {
  &__top-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;

    @include v640 {
      flex-direction: column;
      gap: 16px;
    }
  }

  &__wrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);

    @include v1024 {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }

  &__sidebar {
    grid-column: 1 span;

    &-text {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.75;
      color: var(--cold-canada);
    }

    &-title {
      font-family: var(--source-sans);
      font-weight: 800;
      font-size: 20px;
      line-height: 1.75;
      color: var(--cold-canada);
      margin-bottom: 20px;

      @include v1024 {
        font-size: 18px;
      }

      @include v640 {
        margin-bottom: 16px;
        font-size: 20px;
      }
    }

    &-list {
      display: flex;
      height: fit-content;
      flex-direction: column;
      gap: 16px;
      font-weight: 600;
      font-size: 18px;
      line-height: .9;
      color: var(--cold-canada);
      margin-bottom: 16px;

      @include v1024 {
        font-size: 16px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }

      @include v640 {
        display: flex;

      }



      &-item {
        &-label {
          display: flex;
          gap: 12px;
          align-items: center;
          cursor: pointer;

          &-checkbox {
            display: none;
          }

          &-checkbox:checked + &-custom-checkbox {
            svg {
              opacity: 1;
            }
          }

          &-custom-checkbox {
            position: relative;
            display: block;
            height: 32px;
            width: 32px;
            border-radius: 6px;
            border: 1px solid var(--cold-canada);

            @include v640 {
              width: 24px;
              height: 24px;
            }

            svg {
              opacity: 0;
              width: 25px;
              height: 25px;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              fill: var(--cold-canada);
              transition: opacity .3s ease;

              @include v640 {
                width: 20px;
                height: 20px;
              }
            }
          }
        }

      }
    }

    &-button {
      display: flex;
      align-items: center;
      gap: 12px;
      background: none;
      border: none;
      color: var(--cold-canada);
      cursor: pointer;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.91;

      svg {
        width: 16px;
        height: 16px;
        fill: var(--cold-canada);
      }
    }
  }

  &__search-label {
    position: relative;
  }

  &__search-input {
    height: 37px;
    width: 340px;
    padding: 0 40px 0 17px;
    border-radius: 60px;
    border: inherit;
    outline: inherit;
    background: linear-gradient(135deg,
            #0f172a 0%,
            #1e293b 30%,
            #334155 60%,
            #475569 80%,
            #64748b 100%);
    color: var(--cold-canada);

    @include v640 {
      width: 100%;
    }

    &::placeholder {
      color: var(--cold-canada);
      font-style: italic;
      font-weight: 400;
      font-size: 15px;
      line-height: 8.5;
    }
  }

  &__search-button {
    display: flex;
    align-items: center;
    position: absolute;
    border: none;
    background: none;
    cursor: pointer;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;


    svg {
      fill: var(--cold-canada);
    }
  }

  &__list {
    display: grid;
    grid-column: 3 span;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    @include v640 {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    &-item {
      display: flex;
      flex-direction: column;
      border-radius: 6px;
      background: linear-gradient(135deg,
              #0f172a 0%,
              #1e293b 30%,
              #334155 60%,
              #475569 80%,
              #64748b 100%);
      background-size: 200% 200%;
      animation: gradientRotate 11s ease-in-out infinite;


      &-content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        height: 100%;

        &-wrapper {
          display: flex;
          height: 100%;
          flex-direction: column;
          justify-content: space-between;
          gap: 8px;
        }


        &-list {
          display: flex;
          gap: 8px;
          flex-wrap: wrap;

          &-item {
            color: var(--cold-canada);
            font-family: var(--lato);
            font-weight: 500;
            font-size: 12px;
            padding: 6px 8px;
            border-radius: 28px;
            border: 1px solid var(--cold-canada);

            @include v640 {
              font-size: 10px;
              padding: 0px 4px;
            }
          }
        }

        &-descr {
          font-family: var(--lato);
          color: var(--freezy-breezy);
          font-weight: 600;
          font-size: 24px;
          line-height: 1.3;

          @include v1024 {
            font-size: 18px;
          }
        }
      }
    }


  }


}

@keyframes gradientRotate {
  0% { background-position: 0% 0%; }
  25% { background-position: 100% 0%; }
  50% { background-position: 100% 100%; }
  75% { background-position: 0% 100%; }
  100% { background-position: 0% 0%; }
}