<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <!--    <link rel="icon" type="image/svg+xml" href="/img/vite.svg"/>-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Сайт блога</title>
</head>
<body>

<div class="space-wrapper">
    <div class="space-image-container">
<!--        <img src="./img/space-background.jpg" alt="Hero Image" class="space-anima__image">-->
        <video loop autoplay muted playsinline src="./img/video_bg_1920x1080.mp4" class="space-anima__image"></video>
        <div class="space-wrapper__content">asdasdsdaasdasd</div>
    </div>
</div>



<header class="header">
    <div class="container header__container">
        <a class="link" href="/">
            <img src="./img/icons/logo.svg" alt="#" class="logo">
        </a>

        <nav class="nav header__nav">
            <ul class="header__nav-list">
                <li class="nav__item">
                    <a href="#" class="nav__link">Главная</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">Посты</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">Логин</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
